*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1b24;
    color: white;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: normal;
    margin-bottom: 0px;
}
p {
    margin: 5px 0px;
}

img {
    border-radius: 5px;
}

ul {
    list-style-type: square;
}

/* unvisited link */
a:link {
    color: #82AAFF;
}

/* visited link */
a:visited {
    color: #9882FF;
}

/* mouse over link */
a:hover {
    color: #FF82E9;
}

/* selected link */
a:active {
    color: #7378F1;
}

.centered {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-horizontal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.item {
    margin: 75px;
}

#name {
    margin-top: -100px;
}

#homepage-image {
    width: 400px;
}

.links {
    margin-top: 20px;
}
